{% extends 'cafe/base.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <h1>Корзина</h1>
    <table class="cart-table">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.item.price }} сом</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="total-price">
        <h2>Итого: {{ total_price }} сом</h2>
    </div>
    <a href="{% url 'checkout' %}" class="checkout-button">Оформить заказ</a>
{% endblock %}
